.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.02em;
}

.scroller span {
  flex-shrink: 0;
}
